<div class="page-header">
  <h2>
    My Favorite Meals
  </h2>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Meal</th>
        <th></th>
        <th></th>
      </tr>

      <% current_user.favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.meal.name %></td>
        <td><%= favorite.meal.image %></td>
        <td>
          <a href="/delete_favorite/<%= favorite.id %>" class = "btn btn-sm" role="button"><i class="fa fa-heart" aria-hidden="true"></i> Remove from Favorites </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
